.welcomeBackground{
  background-color:#1e293b; 
  background-size:cover; 
  height:100vh; 
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 
.textColor{
  color:#f0bb03; 
  font-size:64px; 
  font-family: "Bree Serif"; 
  padding-bottom: 0px; 
  margin-bottom: 0px;
} 
.paraColor{
  color:#ffffff; 
  font-family: "Bree Serif"; 
  font-size: 24px; 
  padding-top: 0px;
}  
button{
border-radius: 3px; 

color: block; 
border:none;
}